# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unexpected Journey.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admins\Desktop\Unity\Unexpected Journey\.idea\.idea.Unexpected Journey\.idea/dataSources/
/dataSources.local.xml
